* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    }

html {
        font-size: 62.5%;
        font-family: 'Roboto Flex', sans-serif;
}

header{
    width: 100%;
    min-width: 320px;
    height: 500px;
    text-align: center;
}

.header-image-wrapper {
    align-self: center;
    padding: 30px 0 30px;
}
  
  img {
    margin: 0 auto;
    height: 100px;
    width: auto;
    border-radius: 50%;
  }

  .header--title-container {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
  }

.header-navigation {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

  ul {
    list-style-type: none;
  }
